<div class="jumbotron">
  <video id="example_video_1" class="video-js vjs-default-skin"
         controls preload="auto" width="640" height="360"
         data-setup='{"example_option":true}'>
    <source src="http://localhost:32400/video/:/transcode/universal/start?path=http%3A%2F%2F127.0.0.1%3A32400%2Flibrary%2Fmetadata%2F3500&mediaIndex=0&partIndex=0&protocol=http&offset=0&fastSeek=1&directPlay=0&directStream=1&videoQuality=60&videoResolution=1920x1080&maxVideoBitrate=8000&subtitleSize=100&audioBoost=100&session=ygepu1ko61dcxr&X-Plex-Client-Identifier=ktu960u2urn0o1or&X-Plex-Product=Plex+Web&X-Plex-Device=Windows&X-Plex-Platform=Chrome&X-Plex-Platform-Version=40.0&X-Plex-Version=2.2.7&X-Plex-Device-Name=Plex+Web+(Chrome)" type='video/webm' />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>